<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>Contact Support</title>

    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/contact_support.css' %}" />
  </head>
  <body>
        <h1>Contact Support</h1>
        <p>If you need assistance, please contact us through the following methods:</p>
        <ul>
          <li>Email: support@elevatetrend.com</li>
          <li>Phone: +91-800-123-4567</li>
        </ul>
  </body>
</html>