{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{% static 'css/signin.css' %}" />
  </head>
  <body>
    <section class="bg-light py-3 py-md-5">
      <div class="container">
        <div class="card">
          <div class="card-body">
            <h2 class="title text-center">Forgot Password</h2>
            <form method="POST" action="{% url 'request_password_reset' %}">
              {% csrf_token %}
              <div class="form-group">
                <label for="email">Enter your email address:</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="Email" required />
              </div>
              {% if messages %}
                <ul class="error">
                  {% for message in messages %}
                    <li>{{ message }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
              <div class="form-actions">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>